<section class="hero">
    <div class="container">
        <h2 class="hero__title heading-h1">Contact our team to find out more</h2>
        <div class="hero__map">
            <script type="text/javascript" charset="utf-8" async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A093b15b37c08c2e9fe7769884093d0a8c7f5550255cf38e54fc7011700afb421&amp;width=100%&amp;height=545&amp;lang=ru_RU&amp;scroll=true"></script>
            <ul class="hero__contact">
                <li class="hero__contact-item">
                    <h3 class="hero__contact-item-title text-p-large">Support</h3>
                    <p class="hero__contact-item-description text-p-default">Our friendly team is here to help.</p>
                    <a href="mailto:support@sans.com" class="hero__contact-item-link">support@sans.com</a>
                </li>
                <li class="hero__contact-item">
                    <h3 class="hero__contact-item-title text-p-large">Sales</h3>
                    <p class="hero__contact-item-description text-p-default">Questions or queries? Get in touch!</p>
                    <a href="mailto:sales@sans.com" class="hero__contact-item-link">sales@sans.com</a>
                </li>
                <li class="hero__contact-item">
                    <h3 class="hero__contact-item-title text-p-large">Phone</h3>
                    <p class="hero__contact-item-description text-p-default">Mon-Fri from 8am to 5pm.</p>
                    <a href="tel:+14353457655" class="hero__contact-item-link">+1 (435) 345-7655</a>
                </li>
            </ul>
        </div>
    </div>
</section>