<section class="our-team">
    <div class="container">
        <h2 class="our-team__title our-team__title heading-h2">Meet our team of creators, designers, and world-class
            problem solvers
        </h2>
        <p class="our-team__description text-p-medium">To become the company that customers want, it takes a group
            of
            passionate people. Get to know the people who lead</p>
        <div class="swiper our-team__slider">
            <div class="swiper-wrapper our-team__slider-wrapper">
                <div class="swiper-slide our-team__slide">
                    <a class="our-team__card" href="#">
                        <img class="our-team__card-img" src="./assets/images/our-team-slider/our-team-slide-1-img.jpg"
                            width="379" height="434" loading="lazy" alt="Photo portrait of the male founder">
                        <div class="our-team__card-info">
                            <div class="our-team__card-bio">
                                <h3 class="our-team__card-bio-name text-p-large">Arlyne Stefano</h3>
                                <p class="our-team__card-bio-profession text-p-medium">Founder & CEO</p>
                            </div>
                            <ul class="our-team__card-socials-list">
                                <li class="our-team__card-socials-item">
                                    <a class="our-team__card-socials-link" href="#" aria-label="Twitter">
                                        <img class="our-team__card-socials-icon"
                                            src="./assets/icons/socials/about-socials/twitter-icon.svg" loading="lazy"
                                            alt="Twitter icon">
                                    </a>
                                </li>
                                <li class="our-team__card-socials-item">
                                    <a class="our-team__card-socials-link" href="#" aria-label="LinkedIn">
                                        <img class="our-team__card-socials-icon"
                                            src="./assets/icons/socials/about-socials/in-icon.svg" loading="lazy"
                                            alt="LinkedIn icon">
                                    </a>
                                </li>
                                <li class="our-team__card-socials-item">
                                    <a class="our-team__card-socials-link" href="#" aria-label="Instagram">
                                        <img class="our-team__card-socials-icon"
                                            src="./assets/icons/socials/about-socials/instagram-icon.svg" loading="lazy"
                                            alt="Instagram icon">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide our-team__slide">
                    <a href="#" class="our-team__card">
                        <img class="our-team__card-img" src="./assets/images/our-team-slider/our-team-slide-2-img.jpg"
                            width="379" height="434" loading="lazy"
                            alt="Photo portrait of a smiling chief technology officer woman">
                        <div class="our-team__card-info">
                            <div class="our-team__card-bio">
                                <h3 class="our-team__card-bio-name text-p-large">Katy Cristy</h3>
                                <p class="our-team__card-bio-profession text-p-medium">Chief Technology Officer</p>
                            </div>
                            <ul class="our-team__card-socials-list">
                                <li class="our-team__card-socials-item">
                                    <a class="our-team__card-socials-link" href="#" aria-label="Twitter">
                                        <img class="our-team__card-socials-icon"
                                            src="./assets/icons/socials/about-socials/twitter-icon.svg" loading="lazy"
                                            alt="Twitter icon">
                                    </a>
                                </li>
                                <li class="our-team__card-socials-item">
                                    <a class="our-team__card-socials-link" href="#" aria-label="LinkedIn">
                                        <img class="our-team__card-socials-icon"
                                            src="./assets/icons/socials/about-socials/in-icon.svg" loading="lazy"
                                            alt="LinkedIn icon">
                                    </a>
                                </li>
                                <li class="our-team__card-socials-item">
                                    <a class="our-team__card-socials-link" href="#" aria-label="Instagram">
                                        <img class="our-team__card-socials-icon"
                                            src="./assets/icons/socials/about-socials/instagram-icon.svg" loading="lazy"
                                            alt="Instagram icon">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide our-team__slide">
                    <a href="#" class="our-team__card">
                        <img class="our-team__card-img" src="./assets/images/our-team-slider/our-team-slide-3-img.jpg"
                            width="379" height="434" loading="lazy"
                            alt="Photo portrait of a smiling chief technology officer man">
                        <div class="our-team__card-info">
                            <div class="our-team__card-bio">
                                <h3 class="our-team__card-bio-name text-p-large">Roger Dzawin</h3>
                                <p class="our-team__card-bio-profession text-p-medium">Chief Technology Officer</p>
                            </div>
                            <ul class="our-team__card-socials-list">
                                <li class="our-team__card-socials-item">
                                    <a class="our-team__card-socials-link" href="#" aria-label="Twitter">
                                        <img class="our-team__card-socials-icon"
                                            src="./assets/icons/socials/about-socials/twitter-icon.svg" loading="lazy"
                                            alt="Twitter icon">
                                    </a>
                                </li>
                                <li class="our-team__card-socials-item">
                                    <a class="our-team__card-socials-link" href="#" aria-label="LinkedIn">
                                        <img class="our-team__card-socials-icon"
                                            src="./assets/icons/socials/about-socials/in-icon.svg" loading="lazy"
                                            alt="LinkedIn icon">
                                    </a>
                                </li>
                                <li class="our-team__card-socials-item">
                                    <a class="our-team__card-socials-link" href="#" aria-label="Instagram">
                                        <img class="our-team__card-socials-icon"
                                            src="./assets/icons/socials/about-socials/instagram-icon.svg" loading="lazy"
                                            alt="Instagram icon">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide our-team__slide">
                    <a class="our-team__card" href="#">
                        <img class="our-team__card-img" src="./assets/images/our-team-slider/our-team-slide-1-img.jpg"
                            width="379" height="434" loading="lazy" alt="Photo portrait of the male founder">
                        <div class="our-team__card-info">
                            <div class="our-team__card-bio">
                                <h3 class="our-team__card-bio-name text-p-large">Arlyne Stefano</h3>
                                <p class="our-team__card-bio-profession text-p-medium">Founder & CEO</p>
                            </div>
                            <ul class="our-team__card-socials-list">
                                <li class="our-team__card-socials-item">
                                    <a class="our-team__card-socials-link" href="#" aria-label="Twitter">
                                        <img class="our-team__card-socials-icon"
                                            src="./assets/icons/socials/about-socials/twitter-icon.svg" loading="lazy"
                                            alt="Twitter icon">
                                    </a>
                                </li>
                                <li class="our-team__card-socials-item">
                                    <a class="our-team__card-socials-link" href="#" aria-label="LinkedIn">
                                        <img class="our-team__card-socials-icon"
                                            src="./assets/icons/socials/about-socials/in-icon.svg" loading="lazy"
                                            alt="LinkedIn icon">
                                    </a>
                                </li>
                                <li class="our-team__card-socials-item">
                                    <a class="our-team__card-socials-link" href="#" aria-label="Instagram">
                                        <img class="our-team__card-socials-icon"
                                            src="./assets/icons/socials/about-socials/instagram-icon.svg" loading="lazy"
                                            alt="Instagram icon">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide our-team__slide">
                    <a href="#" class="our-team__card">
                        <img class="our-team__card-img" src="./assets/images/our-team-slider/our-team-slide-2-img.jpg"
                            width="379" height="434" loading="lazy"
                            alt="Photo portrait of a smiling chief technology officer woman">
                        <div class="our-team__card-info">
                            <div class="our-team__card-bio">
                                <h3 class="our-team__card-bio-name text-p-large">Katy Cristy</h3>
                                <p class="our-team__card-bio-profession text-p-medium">Chief Technology Officer</p>
                            </div>
                            <ul class="our-team__card-socials-list">
                                <li class="our-team__card-socials-item">
                                    <a class="our-team__card-socials-link" href="#" aria-label="Twitter">
                                        <img class="our-team__card-socials-icon"
                                            src="./assets/icons/socials/about-socials/twitter-icon.svg" loading="lazy"
                                            alt="Twitter icon">
                                    </a>
                                </li>
                                <li class="our-team__card-socials-item">
                                    <a class="our-team__card-socials-link" href="#" aria-label="LinkedIn">
                                        <img class="our-team__card-socials-icon"
                                            src="./assets/icons/socials/about-socials/in-icon.svg" loading="lazy"
                                            alt="LinkedIn icon">
                                    </a>
                                </li>
                                <li class="our-team__card-socials-item">
                                    <a class="our-team__card-socials-link" href="#" aria-label="Instagram">
                                        <img class="our-team__card-socials-icon"
                                            src="./assets/icons/socials/about-socials/instagram-icon.svg" loading="lazy"
                                            alt="Instagram icon">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide our-team__slide">
                    <a href="#" class="our-team__card">
                        <img class="our-team__card-img" src="./assets/images/our-team-slider/our-team-slide-3-img.jpg"
                            width="379" height="434" loading="lazy"
                            alt="Photo portrait of a smiling chief technology officer man">
                        <div class="our-team__card-info">
                            <div class="our-team__card-bio">
                                <h3 class="our-team__card-bio-name text-p-large">Roger Dzawin</h3>
                                <p class="our-team__card-bio-profession text-p-medium">Chief Technology Officer</p>
                            </div>
                            <ul class="our-team__card-socials-list">
                                <li class="our-team__card-socials-item">
                                    <a class="our-team__card-socials-link" href="#" aria-label="Twitter">
                                        <img class="our-team__card-socials-icon"
                                            src="./assets/icons/socials/about-socials/twitter-icon.svg" loading="lazy"
                                            alt="Twitter icon">
                                    </a>
                                </li>
                                <li class="our-team__card-socials-item">
                                    <a class="our-team__card-socials-link" href="#" aria-label="LinkedIn">
                                        <img class="our-team__card-socials-icon"
                                            src="./assets/icons/socials/about-socials/in-icon.svg" loading="lazy"
                                            alt="LinkedIn icon">
                                    </a>
                                </li>
                                <li class="our-team__card-socials-item">
                                    <a class="our-team__card-socials-link" href="#" aria-label="Instagram">
                                        <img class="our-team__card-socials-icon"
                                            src="./assets/icons/socials/about-socials/instagram-icon.svg" loading="lazy"
                                            alt="Instagram icon">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
            <div class="our-team__slider-buttons slider__buttons">
                <button class="our-team__slider-button-prev slider__button slider__button-prev"></button>
                <button class="our-team__slider-button-next slider__button slider__button-next"></button>
            </div>
        </div>
        <div class="our-team__cta-section">
            <h2 class="our-team__cta-section-title our-team__title heading-h2">Join our team, The one with the master
                touch</h2>
            <div class="our-team__cta-section-subtitle">
                <p class="our-team__cta-section-description our-team__description text-p-medium">We believe it takes
                    great people to make a great product. That’s why we hire not only the perfect professional fits, but
                    people who embody our company values.</p>
                <a href="#" class="our-team__cta-section-button text-p-default">
                    <span class="our-team__cta-section-button-text">See Open Position</span>
                    <svg class="our-team__cta-section-button-icon" width="18" height="18" viewBox="0 0 32 32"
                        xmlns="http://www.w3.org/2000/svg" fill="none">
                        <path
                            d="M19,26a1,1,0,0,1-.71-.29,1,1,0,0,1,0-1.42L26.59,16l-8.3-8.29a1,1,0,0,1,1.42-1.42l9,9a1,1,0,0,1,0,1.42l-9,9A1,1,0,0,1,19,26Z"
                            fill="currentColor" />
                        <path d="M28,17H4a1,1,0,0,1,0-2H28a1,1,0,0,1,0,2Z" fill="currentColor" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>