@use '../../mixins' as *;

.content {
    padding: 120px 0;
    background-color: var(--black-bg-color);

    @include tablet {
        padding: 100px 0;
    }

    @include mobile {
        padding: 80px 0;
    }

    &__cards {
        display: grid;
        gap: 0 32px;
        grid-template-columns: repeat(2, 1fr);

        @include tablet {
            gap: 0 16px;
        }

        @include small-tablet {
            @include flex-column-all-center;
            gap: 52px;
        }
    }

    &__card {
        max-width: 584px;

        &:hover {
            .content__card-title {
                &::after {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &:nth-child(3) {
            display: flex;
            flex-direction: column;
            justify-content: end;

            @include small-tablet {
                flex-direction: row;
            }
        }

        &:nth-child(4) {
            margin-top: -80px;

            @include small-tablet {
                margin-top: 0;
            }
        }

        &-link {
            @include small-tablet {
                display: flex;
                gap: 20px;
            }

            @include mobile {
                gap: 10px;
            }
        }

        &-img {
            margin-bottom: 24px;

            @include small-tablet {
                margin-bottom: 0;
                width: 40%;
            }

            @include mobile {
                width: 30%;
            }
        }

        &-title {
            position: relative;
            margin-bottom: 24px;
            font-weight: 600;
            color: #fff;
            transition: color var(--transition);

            &::after {
                content: '';
                position: absolute;
                right: 0;
                bottom: -5px;
                left: 0;
                height: 1px;
                background-color: #fff;
                opacity: 0;
                visibility: hidden;
                transition:
                    opacity var(--transition),
                    visibility var(--transition);
            }

            @include small-tablet {
                margin-bottom: 20px;
            }

            @include mobile {
                margin-bottom: 14px;
            }
        }

        &-description {
            font-weight: 500;
            line-height: 32px;
            color: var(--neutral-color-150);
        }
    }
}
