<section class="hero">
    <div class="container hero__container hero-decor">
        <h2 class="hero__title heading-h1">Activity & Updates</h2>
        <p class="hero__description text-p-subtitle">Our biggest challenge is making sure we're<br>always designing and
            building products that<br>will help you run your business better.</p>
        <div class="hero__categories">
            <ul class="hero__categories-list text-p-default">
                <li class="hero__categories-item"><button class="hero__categories-button" data-category="all">View all</button></li>
                <li class="hero__categories-item"><button class="hero__categories-button" data-category="design">Design</button></li>
                <li class="hero__categories-item"><button class="hero__categories-button" data-category="articles">Articles</button></li>
                <li class="hero__categories-item"><button class="hero__categories-button" data-category="product">Product</button></li>
                <li class="hero__categories-item"><button class="hero__categories-button" data-category="software-development">Software Development</button></li>
                <li class="hero__categories-item"><button class="hero__categories-button" data-category="customer-success">Customer Success</button></li>
            </ul>
        </div>
        <div class="hero__slider swiper">
            <div class="hero__slider-wrapper swiper-wrapper">
                <div class="hero__card swiper-slide" data-category="articles">
                    <img class="hero__card-img" width="515" height="428"
                        src="./assets/images/blog-hero-slider-1-img.jpg"
                        alt="A woman with a cup in her hands is sitting at her laptop and smiling">
                    <div class="hero__card-date text-p-small">Published in Insight<time datetime="2021-06-30">Jan 30,
                            2021</time></div>
                    <h3 class="hero__card-title heading-h5">Practice making User Flow</h3>
                    <p class="hero__card-description">In this article, we'll cover how to create user flows</p>
                </div>
                <div class="hero__card swiper-slide">
                    <img class="hero__card-img" width="515" height="428"
                        src="./assets/images/blog-hero-slider-2-img.jpg"
                        alt="Two girls are sitting with their backs turned and looking at the screen">
                    <div class="hero__card-date text-p-small">Published in Insight<time datetime="2021-06-30">Jan 30,
                            2021</time></div>
                    <h3 class="hero__card-title heading-h5">Overview of the Design Principles</h3>
                    <p class="hero__card-description">What are Design Principles?… To understand design principles, we first discuss the principles. </p>
                </div>
                <div class="hero__card swiper-slide" data-category="articles">
                    <img class="hero__card-img" width="515" height="428"
                        src="./assets/images/blog-hero-slider-3-img.png"
                        alt="Male and female colleagues laugh and high-five each other">
                    <div class="hero__card-date text-p-small">Published in Insight<time datetime="2021-06-30">Jan 30,
                            2021</time></div>
                    <h3 class="hero__card-title heading-h5">Using Grid in website design</h3>
                    <p class="hero__card-description">Andi: "What's the grid like?" Toni: “Like below…”</p>
                </div>
                <div class="hero__card swiper-slide" data-category="design">
                    <img class="hero__card-img" width="515" height="428"
                        src="./assets/images/blog-hero-slider-1-img.jpg"
                        alt="A woman with a cup in her hands is sitting at her laptop and smiling">
                    <div class="hero__card-date text-p-small">Published in Insight<time datetime="2021-06-30">Jan 30,
                            2021</time></div>
                    <h3 class="hero__card-title heading-h5">Practice making User Flow</h3>
                    <p class="hero__card-description">In this article, we'll cover how to create user flows</p>
                </div>
                <div class="hero__card swiper-slide" data-category="articles">
                    <img class="hero__card-img" width="515" height="428"
                        src="./assets/images/blog-hero-slider-2-img.jpg"
                        alt="Two girls are sitting with their backs turned and looking at the screen">
                    <div class="hero__card-date text-p-small">Published in Insight<time datetime="2021-06-30">Jan 30,
                            2021</time></div>
                    <h3 class="hero__card-title heading-h5">Overview of the Design Principles</h3>
                    <p class="hero__card-description">What are Design Principles?… To understand design principles, we first discuss the principles. </p>
                </div>
                <div class="hero__card swiper-slide" data-category="design">
                    <img class="hero__card-img" width="515" height="428"
                        src="./assets/images/blog-hero-slider-3-img.png"
                        alt="Male and female colleagues laugh and high-five each other">
                    <div class="hero__card-date text-p-small">Published in Insight<time datetime="2021-06-30">Jan 30,
                            2021</time></div>
                    <h3 class="hero__card-title heading-h5">Using Grid in website design</h3>
                    <p class="hero__card-description">Andi: "What's the grid like?" Toni: “Like below…”</p>
                </div>
            </div>
            <div class="hero__slider-buttons slider__buttons">
                    <button class="hero__slider-button-prev slider__button slider__button-prev"></button>
                    <button class="hero__slider-button-next slider__button slider__button-next"></button>
                </div>
        </div>
    </div>

</section>