<section class="insight">
    <div class="container insight__container">
        <h2 class="insight__title heading-h2">Trending news from Coca</h2>
        <p class="insight__description text-p-medium">we have some new Service to pamper you</p>
        <div class="swiper insight__slider">
            <div class="insight__slider-buttons">
                <img class="insight__slider-buttons-img" src="./assets/icons/insigh-slider.svg" width="25" height="25"
                    aria-hidden="true">
            </div>
            <div class="swiper-wrapper">
                <div class="swiper-slide insight__article">
                    <img class="insight__article-img" src="./assets/images/insight-slide-img-1.jpg" width="582"
                        height="332" alt="Woman typing on laptop and writing on a notebook" loading="lazy">
                    <div class="insight__article-head">
                        <div class="insight__article-date text-p-small">
                            Published in Insight <time datetime="2024-01-30">Jan 30, 2021</time>
                        </div>
                        <div class="insight__article-author text-p-small">
                            by : Albert Sans
                        </div>
                    </div>
                    <h3 class="insight__article-title heading-h5">What makes an authentic employee profile, and why does
                        it matter ?</h3>
                </div>
                <div class="swiper-slide insight__article">
                    <img class="insight__article-img" src="./assets/images/insight-slide-img-2.jpg" width="582"
                        height="332" alt="Man typing on" loading="lazy">
                    <div class="insight__article-head">
                        <div class="insight__article-date text-p-small">
                            Published in Insight <time datetime="2024-01-30">Jan 30, 2021</time>
                        </div>
                        <div class="insight__article-author text-p-small">
                            by : Albert Sans
                        </div>
                    </div>
                    <h3 class="insight__article-title heading-h5">How to build a Kaylen relationship with a good company
                    </h3>
                </div>
                <div class="swiper-slide insight__article">
                    <img class="insight__article-img" src="./assets/images/insight-slide-img-1.jpg" width="582"
                        height="332" alt="Woman typing on laptop and writing on a notebook" loading="lazy">
                    <div class="insight__article-head">
                        <div class="insight__article-date text-p-small">
                            Published in Insight <time datetime="2024-01-30">Jan 30, 2021</time>
                        </div>
                        <div class="insight__article-author text-p-small">
                            by : Albert Sans
                        </div>
                    </div>
                    <h3 class="insight__article-title heading-h5">What makes an authentic employee profile, and why does
                        it matter ?</h3>
                </div>
                <div class="swiper-slide insight__article">
                    <img class="insight__article-img" src="./assets/images/insight-slide-img-2.jpg" width="582"
                        height="332" alt="Man typing on" loading="lazy">
                    <div class="insight__article-head">
                        <div class="insight__article-date text-p-small">
                            Published in Insight <time datetime="2024-01-30">Jan 30, 2021</time>
                        </div>
                        <div class="insight__article-author text-p-small">
                            by : Albert Sans
                        </div>
                    </div>
                    <h3 class="insight__article-title heading-h5">How to build a Kaylen relationship with a good company
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>