<section class="strength">
    <div class="container strength__container">
        <ul class="strength__list">
            <li class="strength__item text-p-medium">
                <p class="strength__item-text text-p-default">
                    <span class="strength__item-number">17k</span>
                Happy customers on worldwide
                </p>
            </li>
            <li class="strength__item text-p-medium">
                <p class="strength__item-text text-p-default">
                    <span class="strength__item-number">15+</span>
                Hours of work experience
                </p>
            </li>
            <li class="strength__item text-p-medium">
                <p class="strength__item-text text-p-default">
                    <span class="strength__item-number">50+</span>
                Creativity & passionate members
                </p>
            </li>
            <li class="strength__item text-p-medium">
                <p class="strength__item-text text-p-default">
                    <span class="strength__item-number">100+</span>
                Integrations lorem ipsum integrations
                </p>
            </li>
        </ul>
        <img class="strength__img" width="1200" height="536" src="./assets/images/strength-group-of-people-img.jpg" loading="lazy" alt="A group of people holding hands">
        <div class="strength__info">
            <h2 class="strength__title heading-h2">Lift your business to new heights with our digit al marketing services</h2>
            <p class="strength__description text-p-medium">To build software that gives customer facing teams in small and medium-sized businesses the ability to create rewarding and long-lasting relationships with customers</p>
        </div>
    </div>
</section>