<section class="testimonials">
    <div class="container testimonials__container">
        <div class="testimonials__head">
            <h2 class="testimonials__title heading-h2">What our customer are saying</h2>
            <p class="testimonials__description text-p-medium">We are trusted numerous companies from different business
                to meet their needs</p>
        </div>
        <div class="testimonials__slider-wrapper">
            <div class="swiper testimonials__slider">
                <div class="swiper-wrapper testimonials__comments">
                    <div class="swiper-slide testimonials__comment">
                        <div class="testimonials__rating">
                            <img src="../../../assets/icons/rating-icon.svg" width="132" height="20" loading="lazy"
                                alt="Five stars">
                            <span class="testimonials__rating-num text-p-default">5.0</span>
                        </div>
                        <p class="testimonials__comment-text heading-h3">“With Agency the results are very satisfying.
                            wrapped with
                            Hight quality and innovative design that makes a surge of visitors on my website”</p>
                        <address class="testimonials__comment-author">
                            <img src="./assets/images/comment-author-img-1.jpg" width="56" height="56" alt="Renee Wells"
                                loading="lazy" class="testimonials__comment-author-avatar">
                            <div class="testimonials__comment-author-info">
                                <p class="testimonials__comment-author-name text-p-medium">Renee Wells</p>
                                <p class="testimonials__comment-author-job text-p-default">Product Designer, Quotient
                                </p>
                            </div>
                        </address>
                    </div>
                    <div class="swiper-slide testimonials__comment">
                        <div class="testimonials__rating">
                            <img src="../../../assets/icons/rating-icon.svg" width="132" height="20" loading="lazy"
                                alt="Five stars">
                            <span class="testimonials__rating-num text-p-default">5.0</span>
                        </div>
                        <p class="testimonials__comment-text heading-h3">“With Agency the results are very satisfying.
                            wrapped with
                            Hight quality and innovative design that makes a surge of visitors on my website”</p>
                        <address class="testimonials__comment-author">
                            <img src="./assets/images/comment-author-img-1.jpg" width="56" height="56" alt="Renee Wells"
                                loading="lazy" class="testimonials__comment-author-avatar">
                            <div class="testimonials__comment-author-info">
                                <p class="testimonials__comment-author-name text-p-medium">Renee Wells</p>
                                <p class="testimonials__comment-author-job text-p-default">Product Designer, Quotient
                                </p>
                            </div>
                        </address>
                    </div>
                    <div class="swiper-slide testimonials__comment">
                        <div class="testimonials__rating">
                            <img src="../../../assets/icons/rating-icon.svg" width="132" height="20" loading="lazy"
                                alt="Five stars">
                            <span class="testimonials__rating-num text-p-default">5.0</span>
                        </div>
                        <p class="testimonials__comment-text heading-h3">“With Agency the results are very satisfying.
                            wrapped with
                            Hight quality and innovative design that makes a surge of visitors on my website”</p>
                        <address class="testimonials__comment-author">
                            <img src="./assets/images/comment-author-img-1.jpg" width="56" height="56" alt="Renee Wells"
                                loading="lazy" class="testimonials__comment-author-avatar">
                            <div class="testimonials__comment-author-info">
                                <p class="testimonials__comment-author-name text-p-medium">Renee Wells</p>
                                <p class="testimonials__comment-author-job text-p-default">Product Designer, Quotient
                                </p>
                            </div>
                        </address>
                    </div>
                    <div class="swiper-slide testimonials__comment">
                        <div class="testimonials__rating">
                            <img src="../../../assets/icons/rating-icon.svg" width="132" height="20" loading="lazy"
                                alt="Five stars">
                            <span class="testimonials__rating-num text-p-default">5.0</span>
                        </div>
                        <p class="testimonials__comment-text heading-h3">“With Agency the results are very satisfying.
                            wrapped with
                            Hight quality and innovative design that makes a surge of visitors on my website”</p>
                        <address class="testimonials__comment-author">
                            <img src="./assets/images/comment-author-img-1.jpg" width="56" height="56" alt="Renee Wells"
                                loading="lazy" class="testimonials__comment-author-avatar">
                            <div class="testimonials__comment-author-info">
                                <p class="testimonials__comment-author-name text-p-medium">Renee Wells</p>
                                <p class="testimonials__comment-author-job text-p-default">Product Designer, Quotient
                                </p>
                            </div>
                        </address>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonials__buttons">
                    <button class="testimonials__button testimonials__button--prev"><svg width="15" height="13"
                            viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M7.4636 0.263604C7.81508 -0.087868 8.38493 -0.087868 8.7364 0.263604L14.1364 5.6636C14.4879 6.01508 14.4879 6.58493 14.1364 6.9364L8.7364 12.3364C8.38493 12.6879 7.81508 12.6879 7.4636 12.3364C7.11213 11.9849 7.11213 11.4151 7.4636 11.0636L11.3272 7.2L0.900001 7.2C0.402945 7.2 0 6.79706 0 6.3C0 5.80294 0.402945 5.4 0.900001 5.4H11.3272L7.4636 1.5364C7.11213 1.18492 7.11213 0.615076 7.4636 0.263604Z"
                                fill=#CED1D8 />
                        </svg>
                    </button>
                    <button class="testimonials__button testimonials__button--next"><svg width="15" height="13"
                            viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M7.4636 0.263604C7.81508 -0.087868 8.38493 -0.087868 8.7364 0.263604L14.1364 5.6636C14.4879 6.01508 14.4879 6.58493 14.1364 6.9364L8.7364 12.3364C8.38493 12.6879 7.81508 12.6879 7.4636 12.3364C7.11213 11.9849 7.11213 11.4151 7.4636 11.0636L11.3272 7.2L0.900001 7.2C0.402945 7.2 0 6.79706 0 6.3C0 5.80294 0.402945 5.4 0.900001 5.4H11.3272L7.4636 1.5364C7.11213 1.18492 7.11213 0.615076 7.4636 0.263604Z"
                                fill=#CED1D8 />
                        </svg>
                    </button>
                </div>
    </div>
</section>